/* ==== GENERAL ===== */
:root {
  --brand: 338;
  --second-brand: 39;
  --headline: 210;
  --paragraph: 210;
  --white: 0;
  --brand-color: hsl(var(--brand), 100%, 26%);
  --brand-light-color: hsl(calc(var(--brand) - 22), 23%, 89%);
  --brand-light-02-color: hsl(calc(var(--brand) + 10), 14%, 97%);
  --brand-dark-color: hsl(var(--brand), 100%, 14%);
  --brand-second-color: hsl(var(--second-brand), 100%, 97%);
  --headline-color: hsl(var(--headline), 11%, 15%);
  --paragraph-color: hsl(var(--paragraph), 9%, 31%);
  --white-color: hsl(var(--white), 0%, 100%);
  --nav-height: 7.2rem;
  font-size: 62.5%;
  /* 1rem = 10px */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  background-color: var(--brand-light-02-color);
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--brand-color);
  border-radius: 2rem;
  border: none;
}

ul {
  list-style: none;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

section {
  padding-block: 10rem;
}

section header h1 {
  font-size: 3.4rem;
  line-height: 130%;
  text-align: center;
  color: var(--headline-color);
  margin-bottom: 2.4rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 150%;
  line-height: 3.9rem;
  color: var(--headline-color);
  margin-bottom: 2.4rem;
}

section header h4 {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--brand-color);
  margin-bottom: 1.6rem;
}

section content p {
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  color: var(--paragraph-color);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.6rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white-color);
  border: none;
  border-radius: 4rem;
  background-color: var(--brand-color);
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  margin: 0 auto 6rem;
  padding: 1.6rem 3.2rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--brand-dark-color);
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  padding: 1.6rem 0;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  z-index: 2;
}

#navbar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar a {
  text-decoration: none;
}

#navbar button {
  border: none;
  background: none;
  cursor: pointer;
}

#navbar .logo svg path {
  fill: var(--headline-color);
}

#navbar .logo svg path:last-child {
  fill: var(--brand-color);
}

#navbar .wrapper #show-navbar path {
  stroke: var(--brand-color);
}

#navbar.scroll {
  background-color: var(--brand-color);
}

#navbar.scroll .wrapper #show-navbar svg path {
  stroke: var(--white-color);
}

#navbar.scroll .wrapper .logo svg path {
  fill: var(--white-color);
}

#navbar button:last-child {
  display: none;
}

#navbar .menu {
  position: fixed;
  inset: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--brand-color);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

#navbar .menu .section-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.8rem;
  margin-bottom: 4.8rem;
}

#navbar .menu .section-links a {
  font-size: 2.4rem;
  line-height: 3.1rem;
  font-weight: 700;
  color: var(--white-color);
}

#navbar .menu .button {
  color: var(--brand-color);
  background-color: var(--white-color);
  margin-bottom: 8rem;
}

#navbar .menu .button:hover {
  color: var(--white-color);
  background-color: var(--brand-dark-color);
}

#navbar .menu .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.2rem;
}

#navbar .social-links svg {
  stroke: var(--brand-second-color);
}

.menu-expanded {
  overflow: hidden;
}

.menu-expanded > :not(#navbar) {
  visibility: hidden;
}

.menu-expanded #navbar .logo svg path {
  fill: var(--white-color);
}

.menu-expanded #navbar #show-navbar {
  display: none;
}

.menu-expanded #navbar #hide-navbar {
  display: block;
}

.menu-expanded #navbar #hide-navbar svg path {
  stroke: var(--white-color);
}

.menu-expanded #navbar .menu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 1024px) {
  #navbar .wrapper *,
  :is(#navbar .wrapper) :is(.section-links, .menu) :is(*) {
    margin: 0;
    padding: 0;
    position: initial;
    inset: initial;
    z-index: initial;
    font-size: initial;
    font-weight: initial;
    line-height: initial;
    color: initial;
    display: initial;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-transform: initial;
            transform: initial;
    background-color: initial;
    visibility: initial;
    opacity: initial;
    border: initial;
  }
  #navbar {
    padding: 1.5rem 0;
  }
  #navbar :is(#show-navbar, #hide-navbar, .menu .social-links) {
    display: none;
  }
  #navbar .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60%;
  }
  #navbar .menu .section-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2.7rem;
  }
  #navbar .menu .section-links li {
    height: 100%;
  }
  #navbar .menu .section-links a {
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0.5rem;
    color: var(--brand-color);
    opacity: 0.7;
  }
  #navbar .menu .section-links a:is(:hover, .active) {
    font-weight: 700;
    opacity: 1;
  }
  #navbar .menu .section-links a::after {
    content: "";
    position: absolute;
    bottom: calc(-1.5rem + 1px);
    left: 0;
    display: block;
    width: 0%;
    height: 2px;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
    background-color: var(--brand-color);
  }
  #navbar .menu .section-links a:is(:hover, .active)::after {
    width: 100%;
  }
  #navbar .menu .button {
    color: var(--brand-color);
    padding: 1rem 2.4rem;
    border: 1px solid var(--brand-color);
    border-radius: 4rem;
    font-size: 1.4rem;
  }
  #navbar.scroll {
    background-color: var(--brand-color);
  }
  #navbar.scroll .wrapper #show-navbar svg path {
    stroke: var(--white-color);
  }
  #navbar.scroll .wrapper .logo svg path {
    fill: var(--white-color);
  }
  #navbar.scroll .menu .section-links a {
    color: var(--brand-light-02-color);
  }
  #navbar.scroll .menu .section-links a:after {
    background-color: var(--brand-light-02-color);
  }
  #navbar.scroll .menu .button {
    border-color: var(--white-color);
    color: var(--white-color);
  }
  #navbar.scroll .menu .button:hover {
    border-color: transparent;
  }
}

#home {
  padding-top: calc(4.1rem + var(--nav-height));
  padding-bottom: 0;
}

#home::before {
  content: "";
  display: block;
  height: calc(76% + var(--nav-height));
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--brand-light-color);
}

#home p {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
}

#home img {
  display: block;
  width: min(26.4rem, 90%);
  margin: 0 auto;
  -o-object-position: 0 2rem;
     object-position: 0 2rem;
}

#home .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6rem;
  width: min(32.7rem, 100%);
  padding: 4rem 0;
  margin: 0 auto;
  border: 1px solid var(--brand-light-color);
  border-radius: 0.6rem;
  background-color: var(--brand-second-color);
}

#home .stat h3 {
  font-size: 4.8rem;
  line-height: 130%;
  color: var(--headline-color);
  margin-bottom: 0.4rem;
}

#home .stat p {
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--brand-color);
  margin: 0;
}

@media (min-width: 1024px) {
  #home .wrapper {
    -ms-grid-columns: 60.5rem 1fr;
        grid-template-columns: 60.5rem 1fr;
        grid-template-areas: "header img" "stats stats";
  }
  #home .col-a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #home .col-a * {
    text-align: left;
  }
  #home .col-a .button {
    margin: 0;
  }
  #home .col-b img {
    width: 80%;
  }
  #home .wrapper .stats {
    grid-area: stats;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    padding: 6rem 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: stats;
    flex-direction: row;
    gap: 0;
    width: 100%;
    padding: 6rem 0;
  }
  #home .wrapper .stat {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #home .wrapper .stat + .stat {
    border-left: 1px solid var(--brand-color);
  }
  #home::before {
    height: calc(96% - var(--nav-height));
  }
}

#services header h2 {
  margin-bottom: 6rem;
}

#services .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
  text-align: left;
  border: 1px solid var(--brand-light-color);
  border-radius: 0.6rem;
  background-color: var(--white-color);
  padding: 2.4rem;
}

#services .card .icon svg circle {
  fill: var(--brand-light-color);
}

#services .card .icon svg path {
  stroke: var(--brand-color);
}

#services .card h3 {
  font-size: 2.4rem;
  line-height: 3.1rem;
}

#services .card p {
  line-height: 150%;
}

@media (min-width: 1024px) {
  #services .wrapper h2 {
    width: 45%;
    margin-inline: auto;
  }
  #services .wrapper .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}

#about-us {
  text-align: left;
  background-color: var(--brand-second-color);
}

#about-us .content p {
  line-height: 150%;
  margin-bottom: 6rem;
}

#about-us img {
  width: 100%;
  border-radius: 2rem;
}

@media (min-width: 1024px) {
  #about-us .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img header";
    place-items: center;
    gap: 6.7rem;
  }
  #about-us .wrapper h2 {
    width: 85%;
  }
  #about-us .wrapper p {
    margin-bottom: 0;
  }
  #about-us .wrapper img {
    height: 80%;
  }
}

#contact {
  text-align: left;
  background-color: var(--white-color);
}

#contact .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

#contact .content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}

#contact .content ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  color: inherit;
}

#contact .content svg path {
  stroke: var(--brand-color);
}

#contact .button {
  margin-left: 0;
}

#contact img {
  width: 100%;
  border-radius: 2rem;
}

@media (min-width: 1024px) {
  #contact .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header img";
    place-items: center;
  }
  #contact .wrapper h2 {
    width: 70%;
  }
  #contact .wrapper .button {
    margin-bottom: 0;
  }
}

#footer {
  background-color: var(--brand-color);
  padding: 6rem 0;
  text-align: left;
}

#footer .logo svg {
  margin-bottom: 2.4rem;
}

#footer p {
  line-height: 2;
  color: var(--brand-second-color);
  margin-bottom: 3.2rem;
}

#footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.2rem;
}

#footer .social-links svg path {
  stroke: var(--brand-second-color);
}

@media (min-width: 1024px) {
  #footer {
    padding: 8rem 0;
  }
  #footer .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header img";
  }
  #footer .wrapper p {
    margin-bottom: 0;
  }
  #footer .col-b {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: self-end;
        justify-self: self-end;
  }
}

/* ==== BACK TO TOP BUTTON ===== */
#back-to-top-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
}

#back-to-top-button.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

#back-to-top-button svg circle {
  fill: var(--brand-color);
}

/* ==== DESKTOP ===== */
@media (min-width: 1024px) {
  /* ==== RESET ===== */
  body {
    overflow: initial;
  }
  /* ==== GERAL ===== */
  section {
    padding-block: 16rem;
  }
  section header h1 {
    font-size: 5.2rem;
  }
  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }
  .wrapper {
    width: min(112rem, 100%);
    display: -ms-grid;
    display: grid;
  }
  .col-a {
    grid-area: header;
  }
  .col-b {
    grid-area: img;
  }
}
/*# sourceMappingURL=style.css.map */